language: ruby
rvm:
  - 2.1.5

before_script:
  - psql -c "create role kalibro_processor with createdb login password 'kalibro_processor'" -U postgres
  - "cp config/database.yml.postgresql_sample config/database.yml"
  - "bundle exec rake db:setup db:migrate RAILS_ENV=test"
  - bundle exec rake tmp:create
  - git clone https://gist.github.com/0c4ad3b5700c6364abf1.git -b v1.0 kalibro_install
  - pushd kalibro_install
    # Remove bugged libzmq3 package, see https://github.com/travis-ci/travis-ci/issues/982 and https://github.com/travis-ci/travis-ci/issues/1715 for details
  - sudo apt-get remove libzmq3
  - bash install.sh
  - popd
  - cp features/support/kalibro_cucumber_helpers.yml.sample features/support/kalibro_cucumber_helpers.yml
  - cp config/repositories.yml.sample config/repositories.yml
  - git clone https://github.com/mezuro/kalibro_gatekeeper.git -b v0.2.0 kalibro_gatekeeper
  - pushd kalibro_gatekeeper
  - cp config/database.yml.sample config/database.yml
  - export BUNDLE_GEMFILE=$PWD/Gemfile
  - bundle install
  - bundle exec rails s -p 8081 -d
  - popd
  - export BUNDLE_GEMFILE=$PWD/Gemfile
  - export CODECLIMATE_REPO_TOKEN=71b13a8a121d095ab8f5884e532874909b42124f7488bc9c2b4613f70da64d8d

script:
  - sudo service tomcat6 stop
  - bundle exec rake spec
  - sudo service tomcat6 start
  - bundle exec rake cucumber

notifications:
  email:
    recipients:
      - mezuro-core@lists.ime.usp.br
    on_success: change
    on_failure: always
